name: .NET CI

on:
push:
branches: [ main ]
pull_request:
branches: [ main ]

jobs:
build-and-test:
runs-on: windows-latest

```
defaults:
  run:
    working-directory: CafePoly_Asm   # ⭐ QUAN TRỌNG

steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Setup .NET
    uses: actions/setup-dotnet@v4
    with:
      dotnet-version: 8.0.x

  - name: Restore
    run: dotnet restore CafePoly_Asm.sln

  - name: Build
    run: dotnet build CafePoly_Asm.sln --configuration Release --no-restore

  - name: Test
    run: dotnet test CafePoly_Asm.sln --no-build --verbosity normal
```
