name: .NET CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - run: dotnet restore CafePoly_Asm/CafePoly_Asm.sln
      - run: dotnet build CafePoly_Asm/CafePoly_Asm.sln --configuration Release --no-restore
      - run: dotnet test CafePoly_Asm/CafePoly_Asm.sln --verbosity normal